[submodule "qt-coding"]
	path = qt-coding
	url = https://github.com/francescmm/qt-coding.git
[submodule "icons"]
	path = icons
	url = git://192.168.91.60/icons.git
[submodule "3dparty/KDSoap"]
	path = 3dparty/KDSoap
	url = https://github.com/KDAB/KDSoap
[submodule "3dparty/qjsonrpc"]
	path = 3dparty/qjsonrpc
	url = https://bitbucket.org/devonit/qjsonrpc.git
[submodule "__Python__/dcllocksrv/jsonrpc"]
	path = __Python__/dcllocksrv/jsonrpc
	url = https://github.com/NCMI/jsonrpc.git
