<body>
	<destination name="report"/>
	<file name="main.html"/>
	<keys>
		<key name="$K_1$">
			<key_type name="SQL"/>
			<key_data_type value="DateTime"/>
			<key_data value="SELECT now()"/>
		</key>
		<key name="$K_2$">
			<key_type name="Attachment - single"/>
			<attachment name="./Table_1/config.xml"/>
		</key>
		<key name="$K_3$">
			<key_ype name="Attachment - repeating"/>
			<attachment name="./Row_1/config.xml">
				<attachment_parameter name="$A_K_1$">
					<attachment_parameter_type name="Request"/>
					<attachment_parameter_data_type name="Date/period"/>
				</attachment_parameter>
			</attachment>
		</key>
	</keys>
</body>